managed by ;

{{ motd_logo }}

this is {{ inventory_hostname }}

{% if inventory_hostname in groups.home_k3s %}
This machine is part of the home K3S cluster.
{% if inventory_hostname in groups.server %}
I'm part of the cp!
{% else %}
I'm part of the workers!
{% endif %}
{% endif %}